<p id="notice"><%= notice %></p>

<p>
  <strong>S name:</strong>
  <%= @student.s_name %>
</p>

<p>
  <strong>Roll no:</strong>
  <%= @student.roll_no %>
</p>

<%= link_to 'Edit', edit_teacher_student_path %> |
<%= link_to 'Back', new_teacher_student_path %>
